<mat-nav-list (click)="expand()" class="sidebar">
  <ng-container *ngFor="let item of menuItems">
    <mat-list-item
      [ngClass]="{ active: isActive(item.link) }"
      *ngIf="!item.children?.length"
    >
      <a [routerLink]="item.link">
        <mat-icon color="primary">{{ item.icon }}</mat-icon>
        <span mat-line *ngIf="opened">{{ item.label }}</span>
      </a>
    </mat-list-item>

    <mat-expansion-panel
      *ngIf="item.children?.length"
      [class.mat-elevation-z0]="true"
      dense
      [hideToggle]="!opened"
      [ngClass]="{ active: isActive(item.link) }"
    >
      <mat-expansion-panel-header>
        <mat-icon color="primary">{{ item.icon }}</mat-icon>
        <span mat-line *ngIf="opened">{{ item.label }}</span>
      </mat-expansion-panel-header>
      <mat-nav-list dense *ngIf="opened">
        <mat-list-item
          *ngFor="let child of item.children"
          [ngClass]="{ active: isActive(child.link) }"
        >
          <a [routerLink]="child.link"
            ><mat-icon>{{ child.icon }}</mat-icon
            >{{ child.label }}</a
          >
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>
  </ng-container>
</mat-nav-list>
