<basic-page title="{{ id ? 'Editar Atribuições' : 'Novo Usuário' }}">
    <ng-container contentTitle>
      <button mat-button color="primary" routerLink="/user">
        Voltar
      </button>
      <button mat-raised-button color="primary" (click)="salvarAlteracoes()">Salvar</button>
    </ng-container>
  
    <mat-tab-group padding mat-stretch-tabs="false" mat-align-tabs="start">
    <!-- NOVA ABA -->
    <mat-tab label="Atribuições">
        <ng-container *ngFor="let atribuicaoForm of atribuicoesForms; let i = index">
         <form [formGroup]="atribuicaoForm" class="p-12">
           <div class="grid gap-2">
             <mat-form-field class="col">
                 <mat-label>Departamento</mat-label>
                 <input formControlName="departamento" matInput placeholder="Digite aqui" required />
               </mat-form-field>
             <mat-form-field class="col">
               <mat-label>Cargo</mat-label>
               <mat-select formControlName="cargo" required>
                 <mat-option *ngFor="let option of cargos" [value]="option[0]">
                     {{ option[1] }}
                 </mat-option>
               </mat-select>
             </mat-form-field>
             <mat-form-field class="col">
               <mat-label>Funcao</mat-label>
               <mat-select formControlName="funcao" required>
                 <mat-option *ngFor="let option of funcoes" [value]="option[0]">
                     {{ option[1] }}
                 </mat-option>
               </mat-select>
             </mat-form-field>
           </div>
         <div class="grid gap-2">
             <mat-form-field class="col">
               <mat-label>Unidade</mat-label>
               <mat-select formControlName="unidade" required>
                 <mat-option *ngFor="let option of unidades" [value]="option[0]">
                     {{ option[1] }}
                 </mat-option>
               </mat-select>
             </mat-form-field>
             <mat-form-field class="col">
                 <mat-label>Perfil</mat-label>
                 <mat-select formControlName="perfil" required>
                   <mat-option *ngFor="let option of perfis" [value]="option[0]">
                       {{ option[1] }}
                   </mat-option>
                 </mat-select>
               </mat-form-field>
           </div>
         </form>
         </ng-container>
         <button mat-raised-button color="primary" (click)="adicionarAtribuicao()">Adicionar Atribuição</button>                           
         <button mat-stroked-button color="warn" style="margin-left: 15px;" (click)="removerAtribuicao()" *ngIf="atribuicoesForms.length > 0">Remover</button>
       </mat-tab>
    </mat-tab-group>
  </basic-page>
  