.fixar-opcoes {
  display: flex;
  align-items: center;
}

.refresh-button {
  margin-right: 10px;
}

:host {
  &,
  .container {
    height: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 10px;
    box-sizing: border-box;
  }
  .cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    flex: 0 1 auto;
    padding: 5px 0;

    ph-icon {
      cursor: pointer;
    }

    span {
      color: var(--primary-color);
      font-size: 20px;
      font-weight: 400;
    }
  }
  .acoes {
    flex: 1 1 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex: 0 1 auto;
    margin-left: auto;
  }
  .acoes-filtrar {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .conteudo {
    max-height: calc(100% - 44px);
    overflow: auto;
    flex: 1 1 auto;
    overflow-x: hidden;
  }
}


mat-icon{
  cursor: pointer;
}
